.landingPage
    background-image: url(https://images.pexels.com/photos/1023233/pexels-photo-1023233.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
    background-size: cover
    background-position: center center

article p 
    line-height: 40px

.imgG
    height: 400px

       
.parallaxOne
    background-image: url(https://images.pexels.com/photos/371312/pexels-photo-371312.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
    min-height: 400px
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    opacity: 0.90
 
.map
    height: 400px

.parallaxTwo
    background-image: url(https://images.pexels.com/photos/1043902/pexels-photo-1043902.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
    min-height: 400px
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    opacity: 0.90

.box
    border-radius: 10px
    margin: 0px
    background-color: White
    border: 2px solid gray

.GB
    height: 300px
    border-radius: 10px
    opacity: 0.75

.GB:hover
    opacity: 1

.imgGalleryModal
    height: 500px

.imgGalleryOne
    height: 500px
    width: 100%
    margin-bottom:10px

.imgGalleryTwo
    height: 300px
    width: 100%
    margin-bottom:10px

.imgGalleryThree
    height: 300px
    width: 100%
    margin-bottom: 10px

.imgGalleryFour
    height: 200px
    width: 100%
    margin-bottom: 10px

.imgGalleryFive
    height: 500px
    width: 100%
    margin-bottom: 10px

.imgGallerySix
    height: 400px
    width: 100%
    margin-bottom: 10px

.imgGallerySeven
    height: 400px
    width: 100%
    margin-bottom: 10px

.imgGalleryEight
    height: 400px
    width: 100%
    margin-bottom: 10px

.imgGalleryNine
    height: 300px
    width: 100%

.formBackground
    background-image: url(https://images.pexels.com/photos/2253838/pexels-photo-2253838.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
    height: 650px
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    opacity: 0.90
html
    scroll-behavior: smooth

h1
    font-family: 'Great Vibes', cursive
    color: white
    font-size: 600%
    -webkit-text-stroke: 1px black
.igm
    font-family: 'Playfair Display', serif
    color: white
    font-size: 50px
    -webkit-text-stroke: 0.9px black

.headerName
    font-family: 'Bilbo Swash Caps', cursive
    font-size: 300%

.h2name
    font-family: 'Arapey', serif

#navbarNav ul li a
    color: black 

#navbarNav ul li a:hover
    color: green

.navName
    font-family: 'Bilbo Swash Caps', cursive
    font-size: 50%


#couple,#events,#people,#gallery,#reservation,#home
    padding-top: 100px

footer
    font-family: 'Arapey', serif
    font-family: 'Niconne', cursive
    font-size: 150%

.fab
    color: gray
.fabOne
    color: black
.fab:hover
    color: green
.fabOne:hover
    color: green


ul li
    font-family: 'Arapey', serif
    font-family: 'Niconne', cursive
    font-family: 'Raleway', sans-serif

.h2namePone
    font-family: 'Arapey', serif
    color: black
    text-shadow: 2px white